[submodule "vendor/CodeMirror"]
	path = vendor/CodeMirror
	url = https://github.com/codemirror/CodeMirror
[submodule "vendor/grammars/ABNF.tmbundle"]
	path = vendor/grammars/ABNF.tmbundle
	url = https://github.com/sanssecours/ABNF.tmbundle
[submodule "vendor/grammars/Agda.tmbundle"]
	path = vendor/grammars/Agda.tmbundle
	url = https://github.com/mokus0/Agda.tmbundle
[submodule "vendor/grammars/Alloy.tmbundle"]
	path = vendor/grammars/Alloy.tmbundle
	url = https://github.com/macekond/Alloy.tmbundle
[submodule "vendor/grammars/Assembly-Syntax-Definition"]
	path = vendor/grammars/Assembly-Syntax-Definition
	url = https://github.com/calculuswhiz/Assembly-Syntax-Definition
[submodule "vendor/grammars/AutoHotkey"]
	path = vendor/grammars/AutoHotkey
	url = https://github.com/ahkscript/SublimeAutoHotkey
