Gemfile linguist-vendored=true
lib/linguist.rb linguist-language=Java
test/*.rb linguist-language=Java
Rakefile linguist-generated
test/fixtures/* linguist-vendored=false
README.md linguist-documentation=false
samples/Arduino/* linguist-documentation
samples/Markdown/*.md linguist-detectable=true
samples/HTML/*.html linguist-detectable=false
samples/CSS/bootstrap.css -linguist-vendored
samples/CSS/bootstrap.min.css -linguist-generated
LICENSE -linguist-documentation
samples/CoffeeScript/browser.coffee -linguist-detectable
