[submodule "grammar_sources/go-tmbundle"]
	path = grammar_sources/go-tmbundle
	url = https://github.com/AlanQuatermain/go-tmbundle
[submodule "grammar_sources/PHP-Twig.tmbundle"]
	path = grammar_sources/PHP-Twig.tmbundle
	url = https://github.com/Anomareh/PHP-Twig.tmbundle
[submodule "grammar_sources/sublime-cirru"]
	path = grammar_sources/sublime-cirru
	url = https://github.com/Cirru/sublime-cirru
[submodule "grammar_sources/Sublime-Logos"]
	path = grammar_sources/Sublime-Logos
	url = https://github.com/Cykey/Sublime-Logos
[submodule "grammar_sources/SublimeBrainfuck"]
	path = grammar_sources/SublimeBrainfuck
	url = https://github.com/Drako/SublimeBrainfuck
[submodule "grammar_sources/awk-sublime"]
	path = grammar_sources/awk-sublime
	url = https://github.com/JohnNilsson/awk-sublime
[submodule "grammar_sources/Sublime-SQF-Language"]
	path = grammar_sources/Sublime-SQF-Language
	url = https://github.com/JonBons/Sublime-SQF-Language
[submodule "grammar_sources/SCSS.tmbundle"]
	path = grammar_sources/SCSS.tmbundle
	url = https://github.com/MarioRicalde/SCSS.tmbundle
[submodule "grammar_sources/Sublime-REBOL"]
	path = grammar_sources/Sublime-REBOL
	url = https://github.com/Oldes/Sublime-REBOL
[submodule "grammar_sources/Sublime-Inform"]
	path = grammar_sources/Sublime-Inform
	url = https://github.com/PogiNate/Sublime-Inform
[submodule "grammar_sources/autoitv3-tmbundle"]
	path = grammar_sources/autoitv3-tmbundle
	url = https://github.com/Red-Nova-Technologies/autoitv3-tmbundle
[submodule "grammar_sources/Sublime-VimL"]
	path = grammar_sources/Sublime-VimL
	url = https://github.com/SalGnt/Sublime-VimL
[submodule "grammar_sources/boo-sublime"]
	path = grammar_sources/boo-sublime
	url = https://github.com/Shammah/boo-sublime
[submodule "grammar_sources/ColdFusion"]
	path = grammar_sources/ColdFusion
	url = https://github.com/SublimeText/ColdFusion
[submodule "grammar_sources/NSIS"]
	path = grammar_sources/NSIS
	url = https://github.com/SublimeText/NSIS
[submodule "grammar_sources/NimLime"]
	path = grammar_sources/NimLime
	url = https://github.com/Varriount/NimLime
[submodule "grammar_sources/gradle.tmbundle"]
	path = grammar_sources/gradle.tmbundle
	url = https://github.com/alkemist/gradle.tmbundle
[submodule "grammar_sources/Sublime-Loom"]
	path = grammar_sources/Sublime-Loom
	url = https://github.com/ambethia/Sublime-Loom
[submodule "grammar_sources/VBDotNetSyntax"]
	path = grammar_sources/VBDotNetSyntax
	url = https://github.com/angryant0007/VBDotNetSyntax
[submodule "grammar_sources/cool-tmbundle"]
	path = grammar_sources/cool-tmbundle
	url = https://github.com/anunayk/cool-tmbundle
[submodule "grammar_sources/Docker.tmbundle"]
	path = grammar_sources/Docker.tmbundle
	url = https://github.com/asbjornenge/Docker.tmbundle
[submodule "grammar_sources/jasmin-sublime"]
	path = grammar_sources/jasmin-sublime
	url = https://github.com/atmarksharp/jasmin-sublime
[submodule "grammar_sources/language-clojure"]
	path = grammar_sources/language-clojure
	url = https://github.com/atom/language-clojure
[submodule "grammar_sources/language-coffee-script"]
	path = grammar_sources/language-coffee-script
	url = https://github.com/atom/language-coffee-script
[submodule "grammar_sources/language-csharp"]
	path = grammar_sources/language-csharp
	url = https://github.com/atom/language-csharp
[submodule "grammar_sources/language-gfm"]
	path = grammar_sources/language-gfm
	url = https://github.com/atom/language-gfm
[submodule "grammar_sources/language-javascript"]
	path = grammar_sources/language-javascript
	url = https://github.com/atom/language-javascript
[submodule "grammar_sources/language-python"]
	path = grammar_sources/language-python
	url = https://github.com/atom/language-python
[submodule "grammar_sources/language-sass"]
	path = grammar_sources/language-sass
	url = https://github.com/atom/language-sass
[submodule "grammar_sources/language-shellscript"]
	path = grammar_sources/language-shellscript
	url = https://github.com/atom/language-shellscript
[submodule "grammar_sources/language-yaml"]
	path = grammar_sources/language-yaml
	url = https://github.com/atom/language-yaml
[submodule "grammar_sources/sublime-sourcepawn"]
	path = grammar_sources/sublime-sourcepawn
	url = https://github.com/austinwagner/sublime-sourcepawn
[submodule "grammar_sources/Sublime-Lasso"]
	path = grammar_sources/Sublime-Lasso
	url = https://github.com/bfad/Sublime-Lasso
[submodule "grammar_sources/chapel-tmbundle"]
	path = grammar_sources/chapel-tmbundle
	url = https://github.com/bholt/chapel-tmbundle
[submodule "grammar_sources/sublime-nginx"]
	path = grammar_sources/sublime-nginx
	url = https://github.com/brandonwamboldt/sublime-nginx
[submodule "grammar_sources/bro-sublime"]
	path = grammar_sources/bro-sublime
	url = https://github.com/bro/bro-sublime
[submodule "grammar_sources/sublime_man_page_support"]
	path = grammar_sources/sublime_man_page_support
	url = https://github.com/carsonoid/sublime_man_page_support
[submodule "grammar_sources/sublime-MuPAD"]
	path = grammar_sources/sublime-MuPAD
	url = https://github.com/ccreutzig/sublime-MuPAD
[submodule "grammar_sources/nesC.tmbundle"]
	path = grammar_sources/nesC.tmbundle
	url = https://github.com/cdwilson/nesC.tmbundle
[submodule "grammar_sources/racket-tmbundle"]
	path = grammar_sources/racket-tmbundle
	url = https://github.com/christophevg/racket-tmbundle
[submodule "grammar_sources/haxe-sublime-bundle"]
	path = grammar_sources/haxe-sublime-bundle
	url = https://github.com/clemos/haxe-sublime-bundle
[submodule "grammar_sources/cucumber-tmbundle"]
	path = grammar_sources/cucumber-tmbundle
	url = https://github.com/cucumber/cucumber-tmbundle
[submodule "grammar_sources/Handlebars"]
	path = grammar_sources/Handlebars
	url = https://github.com/daaain/Handlebars
[submodule "grammar_sources/powershell.tmbundle"]
	path = grammar_sources/powershell.tmbundle
	url = https://github.com/davidpeckham/powershell.tmbundle
[submodule "grammar_sources/jade-tmbundle"]
	path = grammar_sources/jade-tmbundle
	url = https://github.com/davidrios/jade-tmbundle
[submodule "grammar_sources/elixir-tmbundle"]
	path = grammar_sources/elixir-tmbundle
	url = https://github.com/elixir-lang/elixir-tmbundle
[submodule "grammar_sources/sublime-glsl"]
	path = grammar_sources/sublime-glsl
	url = https://github.com/euler0/sublime-glsl
[submodule "grammar_sources/fancy-tmbundle"]
	path = grammar_sources/fancy-tmbundle
	url = https://github.com/fancy-lang/fancy-tmbundle
[submodule "grammar_sources/fsharpbinding"]
	path = grammar_sources/fsharpbinding
	url = https://github.com/fsharp/fsharpbinding
[submodule "grammar_sources/monkey.tmbundle"]
	path = grammar_sources/monkey.tmbundle
	url = https://github.com/gingerbeardman/monkey.tmbundle
[submodule "grammar_sources/dart-sublime-bundle"]
	path = grammar_sources/dart-sublime-bundle
	url = https://github.com/guillermooo/dart-sublime-bundle
[submodule "grammar_sources/sublimetext-cuda-cpp"]
	path = grammar_sources/sublimetext-cuda-cpp
	url = https://github.com/harrism/sublimetext-cuda-cpp
[submodule "grammar_sources/pike-textmate"]
	path = grammar_sources/pike-textmate
	url = https://github.com/hww3/pike-textmate
[submodule "grammar_sources/ceylon-sublimetext"]
	path = grammar_sources/ceylon-sublimetext
	url = https://github.com/jeancharles-roger/ceylon-sublimetext
[submodule "grammar_sources/Sublime-Text-2-OpenEdge-ABL"]
	path = grammar_sources/Sublime-Text-2-OpenEdge-ABL
	url = https://github.com/jfairbank/Sublime-Text-2-OpenEdge-ABL
[submodule "grammar_sources/sublime-rust"]
	path = grammar_sources/sublime-rust
	url = https://github.com/jhasse/sublime-rust
[submodule "grammar_sources/sublime-befunge"]
	path = grammar_sources/sublime-befunge
	url = https://github.com/johanasplund/sublime-befunge
[submodule "grammar_sources/RDoc.tmbundle"]
	path = grammar_sources/RDoc.tmbundle
	url = https://github.com/joshaven/RDoc.tmbundle
[submodule "grammar_sources/Textmate-Gosu-Bundle"]
	path = grammar_sources/Textmate-Gosu-Bundle
	url = https://github.com/jpcamara/Textmate-Gosu-Bundle
[submodule "grammar_sources/jquery-tmbundle"]
	path = grammar_sources/jquery-tmbundle
	url = https://github.com/kswedberg/jquery-tmbundle
[submodule "grammar_sources/fish-tmbundle"]
	path = grammar_sources/fish-tmbundle
	url = https://github.com/l15n/fish-tmbundle
[submodule "grammar_sources/sublime-idris"]
	path = grammar_sources/sublime-idris
	url = https://github.com/laughedelic/sublime-idris
[submodule "grammar_sources/sublime-better-typescript"]
	path = grammar_sources/sublime-better-typescript
	url = https://github.com/lavrton/sublime-better-typescript
[submodule "grammar_sources/moonscript-tmbundle"]
	path = grammar_sources/moonscript-tmbundle
	url = https://github.com/leafo/moonscript-tmbundle
[submodule "grammar_sources/Isabelle.tmbundle"]
	path = grammar_sources/Isabelle.tmbundle
	url = https://github.com/lsf37/Isabelle.tmbundle
[submodule "grammar_sources/x86-assembly-textmate-bundle"]
	path = grammar_sources/x86-assembly-textmate-bundle
	url = https://github.com/lunixbochs/x86-assembly-textmate-bundle
[submodule "grammar_sources/Alloy.tmbundle"]
	path = grammar_sources/Alloy.tmbundle
	url = https://github.com/macekond/Alloy.tmbundle
[submodule "grammar_sources/opa.tmbundle"]
	path = grammar_sources/opa.tmbundle
	url = https://github.com/mads379/opa.tmbundle
[submodule "grammar_sources/scala.tmbundle"]
	path = grammar_sources/scala.tmbundle
	url = https://github.com/mads379/scala.tmbundle
[submodule "grammar_sources/mako-tmbundle"]
	path = grammar_sources/mako-tmbundle
	url = https://github.com/marconi/mako-tmbundle
[submodule "grammar_sources/gnuplot-tmbundle"]
	path = grammar_sources/gnuplot-tmbundle
	url = https://github.com/mattfoster/gnuplot-tmbundle
[submodule "grammar_sources/idl.tmbundle"]
	path = grammar_sources/idl.tmbundle
	url = https://github.com/mgalloy/idl.tmbundle
[submodule "grammar_sources/protobuf-tmbundle"]
	path = grammar_sources/protobuf-tmbundle
	url = https://github.com/michaeledgar/protobuf-tmbundle
[submodule "grammar_sources/Sublime-Coq"]
	path = grammar_sources/Sublime-Coq
	url = https://github.com/mkolosick/Sublime-Coq
[submodule "grammar_sources/Agda.tmbundle"]
	path = grammar_sources/Agda.tmbundle
	url = https://github.com/mokus0/Agda.tmbundle
[submodule "grammar_sources/Julia.tmbundle"]
	path = grammar_sources/Julia.tmbundle
	url = https://github.com/nanoant/Julia.tmbundle
[submodule "grammar_sources/assembly.tmbundle"]
	path = grammar_sources/assembly.tmbundle
	url = https://github.com/nanoant/assembly.tmbundle
[submodule "grammar_sources/ooc.tmbundle"]
	path = grammar_sources/ooc.tmbundle
	url = https://github.com/nilium/ooc.tmbundle
[submodule "grammar_sources/LiveScript.tmbundle"]
	path = grammar_sources/LiveScript.tmbundle
	url = https://github.com/paulmillr/LiveScript.tmbundle
[submodule "grammar_sources/sublime-tea"]
	path = grammar_sources/sublime-tea
	url = https://github.com/pferruggiaro/sublime-tea
[submodule "grammar_sources/puppet-textmate-bundle"]
	path = grammar_sources/puppet-textmate-bundle
	url = https://github.com/puppet-textmate-bundle/puppet-textmate-bundle
[submodule "grammar_sources/abap.tmbundle"]
	path = grammar_sources/abap.tmbundle
	url = https://github.com/pvl/abap.tmbundle
[submodule "grammar_sources/Scalate.tmbundle"]
	path = grammar_sources/Scalate.tmbundle
	url = https://github.com/scalate/Scalate.tmbundle
[submodule "grammar_sources/mercury-tmlanguage"]
	path = grammar_sources/mercury-tmlanguage
	url = https://github.com/sebgod/mercury-tmlanguage
[submodule "grammar_sources/mathematica-tmbundle"]
	path = grammar_sources/mathematica-tmbundle
	url = https://github.com/shadanan/mathematica-tmbundle
[submodule "grammar_sources/sublime-robot-plugin"]
	path = grammar_sources/sublime-robot-plugin
	url = https://github.com/shellderp/sublime-robot-plugin
[submodule "grammar_sources/actionscript3-tmbundle"]
	path = grammar_sources/actionscript3-tmbundle
	url = https://github.com/simongregory/actionscript3-tmbundle
[submodule "grammar_sources/Sublime-QML"]
	path = grammar_sources/Sublime-QML
	url = https://github.com/skozlovf/Sublime-QML
[submodule "grammar_sources/Slash.tmbundle"]
	path = grammar_sources/Slash.tmbundle
	url = https://github.com/slash-lang/Slash.tmbundle
[submodule "grammar_sources/factor"]
	path = grammar_sources/factor
	url = https://github.com/slavapestov/factor
[submodule "grammar_sources/ruby-slim.tmbundle"]
	path = grammar_sources/ruby-slim.tmbundle
	url = https://github.com/slim-template/ruby-slim.tmbundle
[submodule "grammar_sources/SublimeXtend"]
	path = grammar_sources/SublimeXtend
	url = https://github.com/staltz/SublimeXtend
[submodule "grammar_sources/Stata.tmbundle"]
	path = grammar_sources/Stata.tmbundle
	url = https://github.com/statatmbundle/Stata.tmbundle
[submodule "grammar_sources/Vala-TMBundle"]
	path = grammar_sources/Vala-TMBundle
	url = https://github.com/technosophos/Vala-TMBundle
[submodule "grammar_sources/ant.tmbundle"]
	path = grammar_sources/ant.tmbundle
	url = https://github.com/textmate/ant.tmbundle
[submodule "grammar_sources/antlr.tmbundle"]
	path = grammar_sources/antlr.tmbundle
	url = https://github.com/textmate/antlr.tmbundle
[submodule "grammar_sources/apache.tmbundle"]
	path = grammar_sources/apache.tmbundle
	url = https://github.com/textmate/apache.tmbundle
[submodule "grammar_sources/applescript.tmbundle"]
	path = grammar_sources/applescript.tmbundle
	url = https://github.com/textmate/applescript.tmbundle
[submodule "grammar_sources/asp.tmbundle"]
	path = grammar_sources/asp.tmbundle
	url = https://github.com/textmate/asp.tmbundle
[submodule "grammar_sources/bison.tmbundle"]
	path = grammar_sources/bison.tmbundle
	url = https://github.com/textmate/bison.tmbundle
[submodule "grammar_sources/capnproto.tmbundle"]
	path = grammar_sources/capnproto.tmbundle
	url = https://github.com/textmate/capnproto.tmbundle
[submodule "grammar_sources/cmake.tmbundle"]
	path = grammar_sources/cmake.tmbundle
	url = https://github.com/textmate/cmake.tmbundle
[submodule "grammar_sources/cpp-qt.tmbundle"]
	path = grammar_sources/cpp-qt.tmbundle
	url = https://github.com/textmate/cpp-qt.tmbundle
[submodule "grammar_sources/css.tmbundle"]
	path = grammar_sources/css.tmbundle
	url = https://github.com/textmate/css.tmbundle
[submodule "grammar_sources/d.tmbundle"]
	path = grammar_sources/d.tmbundle
	url = https://github.com/textmate/d.tmbundle
[submodule "grammar_sources/diff.tmbundle"]
	path = grammar_sources/diff.tmbundle
	url = https://github.com/textmate/diff.tmbundle
[submodule "grammar_sources/dylan.tmbundle"]
	path = grammar_sources/dylan.tmbundle
	url = https://github.com/textmate/dylan.tmbundle
[submodule "grammar_sources/eiffel.tmbundle"]
	path = grammar_sources/eiffel.tmbundle
	url = https://github.com/textmate/eiffel.tmbundle
[submodule "grammar_sources/erlang.tmbundle"]
	path = grammar_sources/erlang.tmbundle
	url = https://github.com/textmate/erlang.tmbundle
[submodule "grammar_sources/fortran.tmbundle"]
	path = grammar_sources/fortran.tmbundle
	url = https://github.com/textmate/fortran.tmbundle
[submodule "grammar_sources/gettext.tmbundle"]
	path = grammar_sources/gettext.tmbundle
	url = https://github.com/textmate/gettext.tmbundle
[submodule "grammar_sources/graphviz.tmbundle"]
	path = grammar_sources/graphviz.tmbundle
	url = https://github.com/textmate/graphviz.tmbundle
[submodule "grammar_sources/groovy.tmbundle"]
	path = grammar_sources/groovy.tmbundle
	url = https://github.com/textmate/groovy.tmbundle
[submodule "grammar_sources/haskell.tmbundle"]
	path = grammar_sources/haskell.tmbundle
	url = https://github.com/textmate/haskell.tmbundle
[submodule "grammar_sources/html.tmbundle"]
	path = grammar_sources/html.tmbundle
	url = https://github.com/textmate/html.tmbundle
[submodule "grammar_sources/ini.tmbundle"]
	path = grammar_sources/ini.tmbundle
	url = https://github.com/textmate/ini.tmbundle
[submodule "grammar_sources/io.tmbundle"]
	path = grammar_sources/io.tmbundle
	url = https://github.com/textmate/io.tmbundle
[submodule "grammar_sources/java.tmbundle"]
	path = grammar_sources/java.tmbundle
	url = https://github.com/textmate/java.tmbundle
[submodule "grammar_sources/javadoc.tmbundle"]
	path = grammar_sources/javadoc.tmbundle
	url = https://github.com/textmate/javadoc.tmbundle
[submodule "grammar_sources/javascript-objective-j.tmbundle"]
	path = grammar_sources/javascript-objective-j.tmbundle
	url = https://github.com/textmate/javascript-objective-j.tmbundle
[submodule "grammar_sources/json.tmbundle"]
	path = grammar_sources/json.tmbundle
	url = https://github.com/textmate/json.tmbundle
[submodule "grammar_sources/latex.tmbundle"]
	path = grammar_sources/latex.tmbundle
	url = https://github.com/textmate/latex.tmbundle
[submodule "grammar_sources/less.tmbundle"]
	path = grammar_sources/less.tmbundle
	url = https://github.com/textmate/less.tmbundle
[submodule "grammar_sources/lilypond.tmbundle"]
	path = grammar_sources/lilypond.tmbundle
	url = https://github.com/textmate/lilypond.tmbundle
[submodule "grammar_sources/lisp.tmbundle"]
	path = grammar_sources/lisp.tmbundle
	url = https://github.com/textmate/lisp.tmbundle
[submodule "grammar_sources/logtalk.tmbundle"]
	path = grammar_sources/logtalk.tmbundle
	url = https://github.com/textmate/logtalk.tmbundle
[submodule "grammar_sources/lua.tmbundle"]
	path = grammar_sources/lua.tmbundle
	url = https://github.com/textmate/lua.tmbundle
[submodule "grammar_sources/make.tmbundle"]
	path = grammar_sources/make.tmbundle
	url = https://github.com/textmate/make.tmbundle
[submodule "grammar_sources/matlab.tmbundle"]
	path = grammar_sources/matlab.tmbundle
	url = https://github.com/textmate/matlab.tmbundle
[submodule "grammar_sources/maven.tmbundle"]
	path = grammar_sources/maven.tmbundle
	url = https://github.com/textmate/maven.tmbundle
[submodule "grammar_sources/nemerle.tmbundle"]
	path = grammar_sources/nemerle.tmbundle
	url = https://github.com/textmate/nemerle.tmbundle
[submodule "grammar_sources/ninja.tmbundle"]
	path = grammar_sources/ninja.tmbundle
	url = https://github.com/textmate/ninja.tmbundle
[submodule "grammar_sources/objective-c.tmbundle"]
	path = grammar_sources/objective-c.tmbundle
	url = https://github.com/textmate/objective-c.tmbundle
[submodule "grammar_sources/ocaml.tmbundle"]
	path = grammar_sources/ocaml.tmbundle
	url = https://github.com/textmate/ocaml.tmbundle
[submodule "grammar_sources/pascal.tmbundle"]
	path = grammar_sources/pascal.tmbundle
	url = https://github.com/textmate/pascal.tmbundle
[submodule "grammar_sources/perl.tmbundle"]
	path = grammar_sources/perl.tmbundle
	url = https://github.com/textmate/perl.tmbundle
[submodule "grammar_sources/php-smarty.tmbundle"]
	path = grammar_sources/php-smarty.tmbundle
	url = https://github.com/textmate/php-smarty.tmbundle
[submodule "grammar_sources/php.tmbundle"]
	path = grammar_sources/php.tmbundle
	url = https://github.com/textmate/php.tmbundle
[submodule "grammar_sources/postscript.tmbundle"]
	path = grammar_sources/postscript.tmbundle
	url = https://github.com/textmate/postscript.tmbundle
[submodule "grammar_sources/processing.tmbundle"]
	path = grammar_sources/processing.tmbundle
	url = https://github.com/textmate/processing.tmbundle
[submodule "grammar_sources/prolog.tmbundle"]
	path = grammar_sources/prolog.tmbundle
	url = https://github.com/textmate/prolog.tmbundle
[submodule "grammar_sources/python-django.tmbundle"]
	path = grammar_sources/python-django.tmbundle
	url = https://github.com/textmate/python-django.tmbundle
[submodule "grammar_sources/r.tmbundle"]
	path = grammar_sources/r.tmbundle
	url = https://github.com/textmate/r.tmbundle
[submodule "grammar_sources/restructuredtext.tmbundle"]
	path = grammar_sources/restructuredtext.tmbundle
	url = https://github.com/textmate/restructuredtext.tmbundle
[submodule "grammar_sources/ruby-haml.tmbundle"]
	path = grammar_sources/ruby-haml.tmbundle
	url = https://github.com/textmate/ruby-haml.tmbundle
[submodule "grammar_sources/ruby-on-rails-tmbundle"]
	path = grammar_sources/ruby-on-rails-tmbundle
	url = https://github.com/textmate/ruby-on-rails-tmbundle
[submodule "grammar_sources/scheme.tmbundle"]
	path = grammar_sources/scheme.tmbundle
	url = https://github.com/textmate/scheme.tmbundle
[submodule "grammar_sources/scilab.tmbundle"]
	path = grammar_sources/scilab.tmbundle
	url = https://github.com/textmate/scilab.tmbundle
[submodule "grammar_sources/sql.tmbundle"]
	path = grammar_sources/sql.tmbundle
	url = https://github.com/textmate/sql.tmbundle
[submodule "grammar_sources/standard-ml.tmbundle"]
	path = grammar_sources/standard-ml.tmbundle
	url = https://github.com/textmate/standard-ml.tmbundle
[submodule "grammar_sources/swift.tmbundle"]
	path = grammar_sources/swift.tmbundle
	url = https://github.com/textmate/swift.tmbundle
[submodule "grammar_sources/tcl.tmbundle"]
	path = grammar_sources/tcl.tmbundle
	url = https://github.com/textmate/tcl.tmbundle
[submodule "grammar_sources/text.tmbundle"]
	path = grammar_sources/text.tmbundle
	url = https://github.com/textmate/text.tmbundle
[submodule "grammar_sources/textile.tmbundle"]
	path = grammar_sources/textile.tmbundle
	url = https://github.com/textmate/textile.tmbundle
[submodule "grammar_sources/textmate.tmbundle"]
	path = grammar_sources/textmate.tmbundle
	url = https://github.com/textmate/textmate.tmbundle
[submodule "grammar_sources/thrift.tmbundle"]
	path = grammar_sources/thrift.tmbundle
	url = https://github.com/textmate/thrift.tmbundle
[submodule "grammar_sources/toml.tmbundle"]
	path = grammar_sources/toml.tmbundle
	url = https://github.com/textmate/toml.tmbundle
[submodule "grammar_sources/verilog.tmbundle"]
	path = grammar_sources/verilog.tmbundle
	url = https://github.com/textmate/verilog.tmbundle
[submodule "grammar_sources/xml.tmbundle"]
	path = grammar_sources/xml.tmbundle
	url = https://github.com/textmate/xml.tmbundle
[submodule "grammar_sources/smalltalk-tmbundle"]
	path = grammar_sources/smalltalk-tmbundle
	url = https://github.com/tomas-stefano/smalltalk-tmbundle
[submodule "grammar_sources/ioke-outdated"]
	path = grammar_sources/ioke-outdated
	url = https://github.com/vic/ioke-outdated
[submodule "grammar_sources/kotlin-sublime-package"]
	path = grammar_sources/kotlin-sublime-package
	url = https://github.com/vkostyukov/kotlin-sublime-package
[submodule "grammar_sources/c.tmbundle"]
	path = grammar_sources/c.tmbundle
	url = https://github.com/vmg/c.tmbundle
[submodule "grammar_sources/zephir-sublime"]
	path = grammar_sources/zephir-sublime
	url = https://github.com/vmg/zephir-sublime
[submodule "grammar_sources/llvm.tmbundle"]
	path = grammar_sources/llvm.tmbundle
	url = https://github.com/whitequark/llvm.tmbundle
[submodule "grammar_sources/sublime-nix"]
	path = grammar_sources/sublime-nix
	url = https://github.com/wmertens/sublime-nix
[submodule "grammar_sources/ada.tmbundle"]
	path = grammar_sources/ada.tmbundle
	url = https://github.com/aroben/ada.tmbundle
[submodule "grammar_sources/oz-tmbundle"]
	path = grammar_sources/oz-tmbundle
	url = https://github.com/eregon/oz-tmbundle
[submodule "grammar_sources/ebundles"]
	path = grammar_sources/ebundles
	url = https://github.com/ericzou/ebundles
[submodule "grammar_sources/sublime-mask"]
	path = grammar_sources/sublime-mask
	url = https://github.com/tenbits/sublime-mask
[submodule "grammar_sources/sublime_cobol"]
	path = grammar_sources/sublime_cobol
	url = https://bitbucket.org/bitlang/sublime_cobol
[submodule "grammar_sources/ruby.tmbundle"]
	path = grammar_sources/ruby.tmbundle
	url = https://github.com/aroben/ruby.tmbundle
