.rect {
    height: 25px;
}

.card {
    border: 0.0625rem solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    box-shadow: 2px 3px 9px silver;
}

.card:hover {
    cursor: pointer;
    background-color: #eeeeee;
}