% Copyright (C) 1993, Digital Equipment Corporation
% All rights reserved.
% See the file COPYRIGHT for a full description.
%
% Last modified on Mon Sep 20 11:53:38 PDT 1993 by kalsow  

%
%  Quake functions to instantiate a generic list.
%

readonly proc List (nm, elt) is
  local list = nm & "List"
  build_generic_intf (list, "List", [elt], VISIBLE)
  build_generic_impl (list, "List", [elt])
end

readonly proc list (nm, elt) is
  local list = nm & "List"
  build_generic_intf (list, "List", [elt], HIDDEN)
  build_generic_impl (list, "List", [elt])
end

readonly proc List_sort (nm, elt) is
  local list = nm & "ListSort"
  build_generic_intf (list, "ListSort", [elt, nm & "List"], VISIBLE)
  build_generic_impl (list, "ListSort", [elt])
end

readonly proc list_sort (nm, elt) is
  local list = nm & "ListSort"
  build_generic_intf (list, "ListSort", [elt, nm & "List"], HIDDEN)
  build_generic_impl (list, "ListSort", [elt])
end

