<sample>
  <h3>{ state.message }</h3>
  <ul>
    <li each={ tech in state.techs }>
      { tech.name }
    </li>
  </ul>

  <script>
    export default {
      state: {
        message: 'Hello, Riot!',
        techs: [
          { name: 'HTML' },
          { name: 'JavaScript' },
          { name: 'CSS' }
        ]
      }
    }
  </script>

  <style>
    :host { font-size: 2rem }
    h3 { color: #444 }
    ul { color: #999 }
  </style>
</sample>