<!DOCTYPE html>
<html>
<head>
	{{#def.admin_head}}
</head>
<body>
<div class="page-wrap">
	{{#def.admin_header}}
	<div class="container">
		<div class="max-width-4 mx-auto">
			<div class="clearfix mxn1">
				<div class="sm-col sm-col-12 px1 my2">
					<div class="table">
						<!-- table header -->
						<div class="clearfix table-row header">
							<div class="sm-col sm-col-6 cell">Title</div>
							<div class="sm-col sm-col-2 cell">Author</div>
							<div class="sm-col sm-col-2 cell">Date</div>
							<div class="sm-col sm-col-2 cell">Last Update</div>
						</div>
						<!-- rows -->
						{{var fecha =  require('fecha');}}
						{{~it.posts :post:index}}
						<div class="clearfix table-row">
							<div class="sm-col cell" style="width: 48%;"><a href="/admin/post/{{=post._id}}">{{=post.title}}</a></div>
							<div class="sm-col" style="width: 2%; padding-top: 1em;"><a href="/{{=fecha.format(post.created_on, 'url')}}/{{=post.slug}}"><i class="material-icons">launch</i></a></div>
							<div class="sm-col sm-col-2 cell">{{=post.author.fullName}}</div>
							<div class="sm-col sm-col-2 cell">{{=fecha.format(post.created_on, 'regular')}}</div>
							<div class="sm-col sm-col-2 cell">{{=fecha.format(post.last_update, 'regular')}}</div>
						</div>
						{{~}}
					</div>
				</div>
			</div>
		</div>

		<div class="max-width-4 mx-auto">
			<div class="clearfix mxn1">
				<div class="sm-col sm-col-12 md-col-6 px1">
					<div class="table">
						<!-- table header -->
						<div class="clearfix table-row header">
							<div class="sm-col sm-col-12 cell center" style="padding-left: 0;">Site Settings</div>
						</div>
						<!-- rows -->
						<div class="clearfix table-row">
							<div class="sm-col sm-col-6 cell">Active template</div>
							<div class="sm-col sm-col-6 cell">{{=it.site.template}}</div>
						</div>
						<div class="clearfix table-row">
							<div class="sm-col sm-col-6 cell">Site Name</div>
							<div class="sm-col sm-col-6 cell">{{=it.site.name}}</div>
						</div>
						<div class="clearfix table-row">
							<div class="sm-col sm-col-6 cell">URL</div>
							<div class="sm-col sm-col-6 cell">{{=it.site.url}}</div>
						</div>
						<div class="clearfix table-row">
							<div class="sm-col sm-col-6 cell">Description</div>
							<div class="sm-col sm-col-6 cell">{{=it.site.description}}</div>
						</div>
						<div class="clearfix table-row">
							<div class="sm-col sm-col-6 cell">Keywords</div>
							<div class="sm-col sm-col-6 cell">{{=it.site.keywords}}</div>
						</div>
						<div class="clearfix table-row">
							<div class="sm-col sm-col-6 cell">Google Analytics UID</div>
							<div class="sm-col sm-col-6 cell">{{=it.site.gaUID}}</div>
						</div>
					
					</div>
				</div>
				<div class="sm-col sm-col-12 md-col-6 px1">
					<div class="table">
						<!-- table header -->
						<div class="clearfix table-row header">
							<div class="sm-col sm-col-12 cell center" style="padding-left: 0;">Tag</div>
						</div>
						<!-- rows -->
						<div class="clearfix table-row">
							<div class="sm-col sm-col-12 cell"></div>
						</div>
					
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
	{{#def.footer}}
	<script type="text/javascript" src="/assets/lib/prism.js"></script>
	<script type="text/javascript" src="/assets/lib/alertify.min.js"></script>
</body>
</html>
