<% include parts/depend %>

<div class="row">
  <% if (user.primaryAccount == "teacher") { %>
    <% include teacher/sidebar %>
    <% include teacher/dashboard %>
  <% } else if (user.primaryAccount == "student") { %>
    <% include student/sidebar %>
    <% include student/dashboard %>
  <% } else { %>
    <center><h2>There seems to be a problem</h2></center>
  <% } %>
</div>
