<div class='container-fluid text-center border-top mt-2'>
    <p><i>Logged in as </i>{{familyname}}, {{knownas}}</p>

    <p>{{YourCurrentLocation}}: {{PrettyCurrentLocation}}</p>
    <p>{{YourHomeLocation}}: {{PrettyHomeLocation}}</p>
    <p><a href='setpassword.php'>Change password</a></p>
    <p><a href='logout.php'>Log out</a></p>
</div>
