#**
  Here's a short story about this document.
    @author John Doe
    @version 1
*#

<html>
  <body>
  #set( $foo = "Hello" )
   $foo World! ## This would print, you guessed it, Hello World!
  </body>
</html>