{# Samples from http://jinja.pocoo.org/docs/2.10/templates/ #}
{% extends layout_template if layout_template is defined else 'master.jinja2' %}

<title>{% block title %}{% endblock %}</title>
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock head %}

<h1>Samples from <a href="http://jinja.pocoo.org/docs/2.10/templates/">Jinja</a></h1>

<ul>
{% for user in users %}
  <li><a href="{{ user.url }}">{{ user.username|e }}</a></li>
{% endfor %}
</ul>

{# note: commented-out template because we no longer use this
    {% for user in users %}
        ...
    {% endfor %}
#}

{%- if foo -%}<p>Yay</p>{% endif %}

<div>
     {%+ if something %}yay{% endif %}
</div>

{% for item in seq -%}
    {{ item }}
{%- endfor %}

{{ '{{' }} {{ '}}' }}

{% raw %}
    <ul>
    {% for item in seq %}
        <li>{{ item }}</li>
    {% endfor %}
    </ul>
{% endraw %}

<ul>
# for item in seq
    <li>{{ item }}</li>     ## this comment is ignored
# endfor
</ul>


<ul>
{% for item in seq %}
    <li>{{ item }}</li>
{% endfor %}
</ul>


<ul>
# for href, caption in [('index.html', 'Index'),
                        ('about.html', 'About')]:
    <li><a href="{{ href }}">{{ caption }}</a></li>
# endfor
</ul>


{% for row in rows %}
    <li class="{{ loop.cycle('odd', 'even') }}">{{ row }}</li>
{% endfor %}


{% macro input(name, value='', type='text', size=20) -%}
    <input type="{{ type }}" name="{{ name }}" value="{{
        value|e }}" size="{{ size }}">
{%- endmacro %}


{% call render_dialog('Hello World') %}
    This is a simple dialog rendered by using a macro and
    a call block.
{% endcall %}

{% set key, value = call_something() %}

{% include "sidebar.html" ignore missing without context %}
