{
  "jsc": {
    "parser": {
      "syntax": "ecmascript",
      // use `tsx` for TypeScript
      "jsx": false
    },
    "target": "es2015",
    "loose": false,
    "minify": {
      "compress": false,
      "mangle": false
    }
  },
  "module": {
    "type": "es6"
  },
  "minify": false,
  "isModule": "unknown"
}
