# Stuff I didn't write
.emacs.d/lisp/*   linguist-vendored

# Documentation
share/man/*       linguist-documentation

# Unrecognised filetypes
*.colorscheme     linguist-language=INI
Shell.profile     linguist-language=INI
sessionui.rc      linguist-language=XML
konsoleui.rc      linguist-language=XML
