cache          = ~/.cache/npm
bin-links      = false
engine-strict  = true
if-present     = true
logs-max       = 1
message        = "Release v%s"

; Prefer existing installs
link           = true
optional       = false
prefer-offline = true

; Tell NPM to pull its head in
package-lock   = false
save           = false

; Improve CLI output
depth          = 0
heading        = "│"
long           = true
parseable      = true
unicode        = true
usage          = true

; Authentication tokens, defined in environment
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
