$ var name = 'Frank';
$ var colors = ['red', 'green', 'blue'];

<h1>
    Hello ${name}!
</h1>

<ul if(colors.length)>
    <li style={color: color} for(color in colors)>
        ${color}
    </li>
</ul>
<div else>
    No colors!
</div>
